<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPEpYnnAMoQ2YOEWj9Ck4oM6uX5JpNeOg</string>
	<key>GCM_SENDER_ID</key>
	<string>973090407436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.MSApp</string>
	<key>PROJECT_ID</key>
	<string>msapp-16118</string>
	<key>STORAGE_BUCKET</key>
	<string>msapp-16118.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973090407436:ios:31b5fe5c023c8294f55a29</string>
</dict>
</plist>